@import "tailwindcss";

@theme {
  --color-primary: #e8642a;
  --color-sole-dark: #171717;
  --color-sole-gray: #f5f5f5;

  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}
